html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title {
    margin-top: 50px;
    text-align: center;
}

#verbs-container{
    margin: 0 35%;
}

.verbs-answer{
    display: block;
}

.rightAnswer {
    background-color: #6ab04c !important;
    color: #fff !important;
}

.wrongAnswer {
    background-color: #b33030 !important;
    color: #fff !important;
}

#next{
    margin: 3rem;
    cursor: pointer;
    color: #6ab04c;
}